*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.button{
     width: 60px;
     border: none;
  
}

@media (max-width:480px){
  .button{
    width: 50px;
    font-size: 12px;

  }
  .head{
    font-size: 20px;
  }
}